<!DOCTYPE html>
<html>
<head>
</head>
<body>
<br>
<br>

<div id="projects_wrapper" class="skinny_wrapper">
	<h1 id=page_title><%= @project.title %></h1>
	<hr>
	<br>
	<br>

	<div id="content">
	  <%= markdown @project.description %>
	  <br>
	  <br>
	  <a href="<%= @project.link %>" class="button" target="_blank">
	  Link to demonstration video</a>
	  <a href="https://github.com/nadirjin/Suny-Poly-Capstone" class="button" target="_blank">
        Link to source code</a>

	  <br>
	  <br>
	</div>
	
	<% if user_signed_in? %>
	  <div id="admin_links">
	    <%= button_to "Edit", edit_project_path(@project), { :method => :get } %>
	    <%= button_to 'Destroy',  project_path(@project),  method: :delete, data: { confirm: 'Are you sure?' } %>
	  </div>
	<% end %>
</div>
</body>
</html>
