<%= form_for @update do |f| %>
	<% if @update.errors.any? %>
		<h2><%= pluralize(@update.errors.count, "errors") %>prevented
		this update from saving.</h2>
		<ul>
			<% @update.errors.full_messages.each do |msg| %>
				<li><%= msg %></li>
			<% end %>
		</ul>
	<% end %>
	
	<br>
	<br>
		<h5><%= f.label :content, "What's up?:" %><h5>
		<br>
		<%= f.text_area :content %>

		<br>
		<br>

		<%= f.submit %>
<% end %>