<!DOCTYPE html>
<html>
  <head>
	<title>Tom Ginader - Graduate Student</title>
	<link href='https://fonts.googleapis.com/css?family=Droid+Sans' rel='stylesheet' type='text/css'>
	<link href='https://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <%= csrf_meta_tags %>

     <%= stylesheet_link_tag    '/assets/application.css', 'data-turbolinks-track' => true %> 
    <%= javascript_include_tag 'default', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header id="main_navigation" class="clearfix">
		<%= link_to "Tom Ginader", {controller: "home", action: "index"}, class: "name" %>
		<nav>
			<%= link_to "Status Updates", {controller: "updates", action: "index"}, 
				class: "nav_bar" %>
			<%= link_to "My Projects", {controller: "projects", action: "index"}, 
				class: "nav_bar" %>
			<%= link_to "Contact Me", {controller: "contacts", action: "new"}, 
				class: "nav_bar" %>
		</nav>
	</header>
    <%= yield %>

    <footer id="main_footer">
		<hr>
		<p class="copyright">&copy;2016 Tom Ginader</p>
		<nav>
			<a href="http://github.com/nadirjin" target="_blank">
			<i class="fa fa-github" aria-hidden="true"></i></a>
			<a href="https://www.linkedin.com/in/tginader" 
			target="_blank">
                        <i class="fa fa-linkedin-square" aria-hidden="true">
			</i></a>
		</nav>		
	</footer>
  </body>
</html>
